<h2>Mile Run</h2>
<%= column_chart CheckIn.group(:created_at).sum(:mile_run) %>
<br>
<h2>Sit Ups and Push Ups</h2>
<%= line_chart [
  {name: "Push Ups", data: CheckIn.group(:created_at).sum(:push_ups)},
  {name: "Sit Ups", data: CheckIn.group(:created_at).sum(:sit_ups)}
] %>
<br>
<h2>Weight</h2>
<%= area_chart CheckIn.group(:created_at).sum(:weight) %>