<style>
body {
	background-image: url(http://deskbg.com/i/c/1280x800/temp/55-diamond-plate-wallpaper-1.jpg)
}
</style>
<br>
<h1>Welcome to Your Fitness Tracker.</h1>
<h3 class="welcome-paragraph">Use our tool to keep track of your progress on key exercises.</h3>
<br>
<img class="welcome-image" src="http://mostfitness.co.uk/wp-content/uploads/2013/05/Gym-bag-with-trainers-towel-and-bottle.jpg">
<h4>YOU ARE SO WORTH IT!</h4>

