<h1> Profile </h1>

<form>
  <div class="form-group">
    <label for="initial">Initial Weight:</label>
    <input type="weight" class="form-control" id="lbs">
  </div>
  <div class="form-group">
    <label for="goal">Goal Weight:</label>
    <input type="weight" class="form-control" id="glbs">
  </div>
  <div class="form-group">
    <label for="age">Age:</label>
    <input type="age" class="form-control" id="age">
  </div>
  <div class="form-group">
    <label for="gender">Gender:</label>
    <input type="gender" class="form-control" id="gen">
  </div>
  <div class="form-group">
    <label for="age">Height:</label>
    <input type="height" class="form-control" id="tall">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>